<Files "index.html">
    Header set Cache-Control "no-cache"
</Files>

<FilesMatch "\.(js)$">
    FileETag None
    Header unset Cache-Control
    Header unset Expires
    Header unset Pragma
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
</FilesMatch>

